.header {
    grid-area: h;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #c9c9c9;
}

.header img {
    height: 100%;
    margin-left: 20px;
}

.login_block {
    float: right;
}

a {
    text-decoration: none;
    color: black;
}